*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    background-color: #e0e6ed;
    min-height: 100vh;
  }
  header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}
header {
    font-size: 2rem;
  }
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
.complted{
    text-decoration: line-through;
    opacity: 0.5;
}